@charset "utf-8";

@font-face {
  font-family: "Montserrat";
  font-style: normal; /*italic,normal*/
  font-weight: 400;
  src: url(fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Montserrat-Bold.ttf) format("truetype");
}

.f_mon {
  font-family: "Montserrat" !important;
}

.fw600 {
  font-weight: 600 !important;
}
.fw500 {
  font-weight: 500 !important;
}
.fw400 {
  font-weight: 400 !important;
}
